{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style_administracao.css' %}">
</head>


<body>

    <nav class="nav-bar">
        <a href="">Home</a>
        <a href="">Sobre</a>
        <a href="">Documentação</a>
    </nav>

    <div class="main-content">
        <div class="menu">
            <br>
            <div class="conteudo-menu">
                <a href="#documentacao">Pacientes</a>
                <a href="">Medicos</a>
            </div>
        </div>
        <div class="container">
            
            <div id="documentacao">
                <div  class="button-close"><p>x</p></div>
                
                <br>
                <p class="conteudo">Para alterar dados -> pacientes -> alterar -> pesquisar </p>
                
            </div>

        </div>
    </div>

</body>
</html>