{% extends 'base.html' %}

{% load static %}

{% block title %}Portal do paciente{% endblock %}
    

    <!--
    <script src="static/js/script_portal_do_paciente.js"></script>
    -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_portal_do_paciente.css' %}">
</head>
<body>

  <header class="portal_do_paciente p-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><strong>Portal do paciente</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>

  <div id="div-ola-name" style="text-indent: 60px;">
    <strong><p >Olá, {{ name }}</p></strong>
    
  </div>
  
  
  <div class="titulo_portal_do_paciente">
    <h1 >Portal do paciente</h1>
  </div>
  <div id="div-data">
    <time id="data" datetime="{{ data|date:'Y-m-d' }}">{{ data|date:'d/m/Y' }}</time>
  </div>
  
<!--<time class="hora_data" datetime="{{ data_hora|date:'Y-m-dTH:i:s' }}">{{ data_hora|date:'d/m/Y H:i' }}</time>-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        
        <nav class="nav-menu">
            
          <!-- Ainda fazendo -->

            <ol>
              <li><a class="nav-menu-link" href="#consultas">Consultas marcadas</a></li>        
              <li><a class="nav-menu-link" href="#atendimento">Marcar consulta</a></li>      
              <li><a class="nav-menu-link" href="#lista_de_medicos">Médicos disponíveis</a></li>      
              <li><a class="nav-menu-link" href="#paciente">Meus dados</a></li>        
              <li><a class="nav-menu-link" href="#historico">Histórico de consultas</a></li> 
              {% if admin %}
              <li><a class="nav-menu-link" href="{% url 'cadastro_de_medicos' id=paciente.id %}">Adicione um médico</a></li> 
                
              {% endif %}       
            </ol>
    
          </nav>     

      </div>

      <div class="col-md-9">

        <div id="lista_de_medicos">
          <div class="button-close">
            <a href="#"><button id="medicos-button-close">x</button></a>
            
          </div>

            <h3>Horários e funções </h3>
            *FAZER*
             <strong>Lista de médicos, funções e horário de atendimento </strong>
      
             <table class="table table-custom">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Função</th>
                        <th>Consultas marcadas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medico in medicos %}
                        <tr>
                            <td>{{ medico.nome }}</td> 
                            <td>{{ medico.funcao }}</td>
                            <td>{{ medico.data_consulta }}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      
        <div id="paciente">
          <div class="button-close">
            <a href="#"><button id="paciente-button-close">x</button></a>
            
          </div>
          <h3>Seus dados</h3>
          <table class="table table-custom">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Nome</th>
                      <th>Idade</th>
                      <th>CPF</th>
                      <th>Email</th>
                  </tr>
              </thead>
              <tbody>
                  
                          <tr>
                              <td>{{ paciente.id }}</td>
                              <td>{{ paciente.nome }}</td>
                              <td>{{ paciente.data_de_nascimento }}</td>
                              <td>{{ paciente.cpf }}</td>
                              <td>{{ paciente.email }}</td>        
                          </tr>
              </tbody>
          </table>
      </div>
      
        <div id="historico">
          <div class="button-close">
            <a href="#"><button id="historico-button-close">x</button></a>
            
          </div>
            <h3>Baixe aqui seu histórico de consultas</h3>
            <a href="{% static 'historico/sage.pdf' %}" download="historico">Histórico</a>
        </div>
      
        <div id="atendimento">
          <div class="button-close">
            <a href="#"><button id="atendimento-button-close">x</button></a>
            
          </div>
          <h1>Solicite atendimento</h1>
      
          <div class="input-group rounded">
        
            <input id="pesquisa_especialidade" type="search" class="form-control rounded" placeholder="Pesquise a especialidade" aria-label="Search" aria-describedby="search-addon" />
      
      
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div>
          
        </div>
      
        <div id="consultas">
          <div class="button-close">
            <a href="#"><button id="consultas-button-close">x</button></a>
            
          </div>
          
          <h2>Suas consultas marcadas</h2>
          fazer vizualização
          <p>data: </p>
        </div>
      </div>

    </div>

  </div>

      {% endblock %}