
@media (min-width: 768px) { /* Para telas médias */
  * {
    color:black;
    font-size: 1.7rem;
    font-family: sans-serif;
  }
  /*------------HEADER----------------------------*/
header {
  align-items: end !important;
  display: block;
  opacity: 0.8;
}

/* Estilos para os links da navbar */
.navbar-nav > li > a {
  color: white;
  border-radius: 6px;
  transition: background-color 1s;
}

/* Estilos para os links da navbar quando o mouse está sobre eles */
.navbar-nav > li > a:hover {
  background-color: rgb(0, 100, 150);
  color: white;
}

/*__________________header*/
.titulo_portal_do_paciente{
  opacity: 0.8;
  display: flex;
  text-align: center;
  align-content: space-between;
}

.titulo{
  width: 1980px;
  color: rgb(87, 82, 82);
  border-radius: 10px;
}

.main{
  display: flex;
  align-content: space-around;
  align-items: center;
  color: black;
  margin-top: 100px;
  /*border: 2px solid red;*/
}

/* Estilo dos links */
.portal_do_paciente .navbar-nav .nav-item .nav-link {
  color: #333;
  font-weight: 500;
}

/* Cor ao passar o mouse */
.portal_do_paciente .navbar-nav .nav-item .nav-link:hover {
  color: #007bff;
}

/*__________targets________*/

.container {
  border: 2px solid gray;
  display: flex; /* já está definido, mas removendo o !important */
  width: 550px;
  height: 900px;
  text-align: center;
  align-content: space-between; /* Para espaçar os itens verticalmente */
  border-radius: 6px;
  /* Centraliza os itens horizontalmente */
  justify-content: center;
  /* Centraliza os itens verticalmente */
  align-items: center; 
  background-color: #333;
  opacity: 0.8;
  margin-right: 30px;
}
/*Para telas menores, o link é centralizado*/
.nav-link{
  text-align: center;
}

#imc{
  color: black;
  width: 1250px;
  left: 1085px;
  display: none;
  border: 2px solid ;
}

#imc:target{
  color: black;
  width: 1250px;
  left: 1085px;
  display: inline-block;
  border: 2px solid;
}
input{
  border-radius: 6px;
}
button{
  background-color: #007bff;
  border-radius: 10px;
}

button:hover{
  transition: 1s;
  background-color: #0f2a48;
  
}

#suas_consultas {
  display: none; /* Oculta a seção inicialmente */
  transition: all 1s ease; /* Adiciona transição com duração de 0.5s */
}

#suas_consultas:target {
  background-color: gainsboro ;
  color: black;
  width: 1250px;
  left: 1085px;
  border-radius: 6px;
  display: inline-block;
  border: 2px solid black;
  margin-right: 200px;
}
#suas_consultas > a{
  text-decoration: none;
}
#suas_consultas > a:hover{
  color: green;
}
#lista_de_medicos{
  display: none;
}
#lista_de_medicos:target{
  background-color: gainsboro ;
  color: black;
  width: 1250px;
  left: 1085px;
  border-radius: 6px;
  display: inline-block;
  border: 2px solid black;
  margin-right: 200px;
}
#paciente{
  display: none;
}
#paciente:target{
  border: 2px solid ;
  background-color: gainsboro ;
  color:black;
  width: 1250px;
  left: 1085px;
  border-radius: 6px;
  display: inline-block;
  padding: 0px;
  margin-right: 200px;
}
#consultas{
display: none;
}
#consultas:target{
  border: 2px solid ;
  background-color: gainsboro ;
  color: black;
  width: 1250px;
  left: 1085px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 200px;
}

/*_________ sumario*/
.container-fluid{
display: inline-block;
}
.nav-menu {
  margin-top:10px ;
  display: block;
  /*background-color: #f8ecd4; /* Adiciona cor de fundo ao menu */
  opacity: 0.8;
  padding: 20px;
  /*border-radius: 15px;*/
  /*border: 2px solid black;*/
  width: 380px;
}


.nav-menu-link {
  display: block; /* Faz com que os links ocupem toda a largura */
  padding: 14px;
  text-decoration: none;
  color: white;
  border-radius: 6px;
  border: 2px solid white;
  background-color: black;
  opacity: 0.8;
}
.nav-menu-link:hover{
  transition: 1s;
  color: white;
  background-color: rgb(0, 100, 150);
  font-size: 1.8rem;
}
h3{
  background-color: #ddd;
  padding: 2px;
  display: inline-block;
  border-radius: 6px;
}

.hora_data {
  text-align: right; 
  font-size: 1.2rem;
  color: #333; 
  font-weight: bold;  
}
#div-data{
  text-align: end;
  margin-right: 30px;
  margin-top: -20px;
}
#data{
  font-weight:bolder;
}
/*--------------botoes*/
.button-close{
  text-align: end;
}
/*botaõ para sair...*/
#consultas-button-close,#paciente-button-close,#historico-button-close,#atendimento-button-close, #medicos-button-close, #suas-consultas-button-close {
  background-color: #333 !important;
  color: #fff;
  padding: 0px 13px 0px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  align-items: end;
}

/*
.background{
  opacity: 0.7;
  border-radius: 6px;
  border: rgb(0,100,150) 2px solid ;
  width: 105vh;
  height: 60vh;
  padding: 15px;
  margin: 0%;
  display: flex;
  background-color: #ddd;
}
*/
}

@media (min-width: 1200px) { /* Para telas grandes */
  * {
    color:black;
    font-size: 1.2rem;
    font-family: sans-serif;
  }
}

@media (min-width: 768px) { /* Para telas médias */
  body {
    background-color: #b2c4d9;
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 1200px) { /* Para telas grandes */
  body {
    background: url('https://images.unsplash.com/photo-1583947582886-f40ec95dd752?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
  }
  /*------------HEADER----------------------------*/
header {
  align-items: end !important;
  display: block;
  opacity: 0.8;
}

/* Estilos para os links da navbar */
.navbar-nav > li > a {
  color: white;
  border-radius: 6px;
  transition: background-color 1s;
}

/* Estilos para os links da navbar quando o mouse está sobre eles */
.navbar-nav > li > a:hover {
  background-color: rgb(0, 100, 150);
  color: white;
}

/*__________________header*/
.titulo_portal_do_paciente{
  opacity: 0.8;
  display: flex;
  text-align: center;
  align-content: space-between;
}

.titulo{
  width: 1980px;
  color: rgb(87, 82, 82);
  border-radius: 10px;
}

.main{
  display: flex;
  align-content: space-around;
  align-items: center;
  color: black;
  margin-top: 100px;
  /*border: 2px solid red;*/
}

/* Estilo dos links */
.portal_do_paciente .navbar-nav .nav-item .nav-link {
  color: #333;
  font-weight: 500;
}

/* Cor ao passar o mouse */
.portal_do_paciente .navbar-nav .nav-item .nav-link:hover {
  color: #007bff;
}

/*__________targets________*/

.container {
  border: 2px solid gray;
  display: flex; /* já está definido, mas removendo o !important */
  width: 1300px;
  height: 400px;
  text-align: center;
  align-content: space-between; /* Para espaçar os itens verticalmente */
  border-radius: 6px;
  /* Centraliza os itens horizontalmente */
  justify-content: center;
  /* Centraliza os itens verticalmente */
  align-items: center; 
  background-color: #333;
  opacity: 0.8;
  margin-right: 130px;
}
/*Para telas menores, o link é centralizado*/
.nav-link{
  text-align: center;
}

#imc{
  color: black;
  width: 1250px;
  left: 1085px;
  display: none;
  border: 2px solid ;
}

#imc:target{
  color: black;
  width: 1250px;
  left: 1085px;
  display: inline-block;
  border: 2px solid;
}
input{
  border-radius: 6px;
}
button{
  background-color: #007bff;
  border-radius: 10px;
}

button:hover{
  transition: 1s;
  background-color: #0f2a48;
  
}

#suas_consultas {
  display: none; /* Oculta a seção inicialmente */
  transition: all 1s ease; /* Adiciona transição com duração de 0.5s */
}

#suas_consultas:target {
  background-color: gainsboro;
  color: black;
  width: 1250px;
  left: 1085px;
  border-radius: 6px;
  display: inline-block; 
  border: 2px solid black;
}
#suas_consultas > a{
  text-decoration: none;
}
#suas_consultas > a:hover{
  color: green;
}
#lista_de_medicos{
  display: none;
}
#lista_de_medicos:target{
  background-color: gainsboro ;
  color: black;
  width: 1250px;
  left: 1085px;
  border-radius: 6px;
  display: inline-block;
  border: 2px solid black;
}
#paciente{
  display: none;
}
#paciente:target{
  border: 2px solid ;
  background-color: gainsboro ;
  color:black;
  width: 1250px;
  left: 1085px;
  border-radius: 6px;
  display: inline-block;
  padding: 0px;
}
#consultas{
display: none;
}
#consultas:target{
  border: 2px solid ;
  background-color: gainsboro ;
  color: black;
  width: 1250px;
  left: 1085px;
  border-radius: 6px;
  display: inline-block;
}

/*_________ sumario*/
.container-fluid{
display: inline-block;
}
.nav-menu {
  margin-top:10px ;
  display: inline-block;

  /*background-color: #f8ecd4; /* Adiciona cor de fundo ao menu */
  opacity: 0.8;
  padding: 20px;
  border-radius: 15px;
  /*border: 2px solid black;*/
  width: 380px;
}


.nav-menu-link {
  display: block; /* Faz com que os links ocupem toda a largura */
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 6px;
  border: 2px solid white;
  background-color: black;
  opacity: 0.8;
}
.nav-menu-link:hover{
  transition: 1s;
  color: white;
  background-color: rgb(0, 100, 150);
  font-size: 1.3rem;
}
h3{
  background-color: #ddd;
  padding: 2px;
  display: inline-block;
  border-radius: 6px;
}

.hora_data {
  text-align: right; 
  font-size: 1.2rem;
  color: #333; 
  font-weight: bold;  
}
#div-data{
  text-align: end;
  margin-right: 30px;
  margin-top: -20px;
}
#data{
  font-weight:bolder;
}
/*--------------botoes*/
.button-close{
  text-align: end;
}
/*botaõ para sair...*/
#consultas-button-close,#paciente-button-close,#historico-button-close,#atendimento-button-close, #medicos-button-close, #suas-consultas-button-close {
  background-color: #333 !important;
  color: #fff;
  padding: 0px 13px 0px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  align-items: end;
}

/*
.background{
  opacity: 0.7;
  border-radius: 6px;
  border: rgb(0,100,150) 2px solid ;
  width: 105vh;
  height: 60vh;
  padding: 15px;
  margin: 0%;
  display: flex;
  background-color: #ddd;
}
*/
}
