*{
  color:black;
  font-size: 1.2rem;
  font-family: sans-serif;
}
body{
background-color: rgb(200,200,250);
  /*background:url('https://plus.unsplash.com/premium_photo-1682141162813-16fc10b5ba2f?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;*/
  background-size:cover ;
}

/*__________________header*/

.main{
display: flex;
align-content: space-around;
align-items: center;
color: red;
}
/* Atualize o espaçamento da navbar para melhorar a aparência em dispositivos móveis */
.portal_do_paciente .navbar {
background-color: gray !important;
padding: 1rem;
opacity: 0.8;
}

/* Estilo do texto da marca em dispositivos menores */
.portal_do_paciente .navbar-brand {
font-size: 1.2rem;
font-weight: bold;
}

/* Estilo dos links */
.portal_do_paciente .navbar-nav .nav-item .nav-link {
color: #333;
font-weight: 500;
}

/* Cor ao passar o mouse */
.portal_do_paciente .navbar-nav .nav-item .nav-link:hover {
color: #007bff;
}

/*__________targets________*/

.container {
/*border: 2px solid gray;*/
display: flex; /* já está definido, mas removendo o !important */
width: 1300px;
text-align: center;
align-content: space-between; /* Para espaçar os itens verticalmente */
border-radius: 6px;
/* Centraliza os itens horizontalmente */
justify-content: center;
/* Centraliza os itens verticalmente */
align-items: center; 
}
#teste{
background-color: azure !important;
color: red;
width: 1250px;
left: 1085px;
border-radius: 6px;
display: none;
border: 2px solid ;
}
#suas_consultas {
display: none ; /* Oculta a seção inicialmente */
}

#suas_consultas:target {
background-color: antiquewhite !important;
color: black;
width: 1250px;
left: 1085px;
border-radius: 6px;
display: inline-block; 
border: 2px solid black;
}

#lista_de_medicos{
  display: none;
}
#lista_de_medicos:target{
background-color: antiquewhite !important;
color: black;
width: 1250px;
left: 1085px;
border-radius: 6px;
display: inline-block;
border: 2px solid black;
}
#paciente{
  display: none;
}
#paciente:target{
border: 2px solid ;
background-color: antiquewhite !important;
color: black;
width: 1250px;
left: 1085px;
border-radius: 6px;
display: inline-block;
}
#consultas{
display: none;
}
#consultas:target{
border: 2px solid ;
background-color: antiquewhite !important;
color: black;
width: 1250px;
left: 1085px;
border-radius: 6px;
display: inline-block;
}

/*_________ sumario*/
.container-fluid{
display: inline-block;
}
.nav-menu {
margin-left: -10px;
background-color: rgb(96, 164, 209); /* Adiciona cor de fundo ao menu */
opacity: 0.8;
padding: 20px;
border-right: 1px solid #ddd; /* Adiciona uma borda direita */
border-radius: 6px;
}


.nav-menu-link {
display: block; /* Faz com que os links ocupem toda a largura */
padding: 10px;
text-decoration: none;
color: black;
border-radius: 6px;
}
.nav-menu-link:hover{
transition: 1s;
color: white;
background-color: #333;
font-size: 1.3rem;
}
h3{
background-color: #ddd;
padding: 2px;
display: inline-block;
border-radius: 6px;
}


.titulo_portal_do_paciente{
  text-align: center  !important;
  margin-top: -20px !important;
}
.hora_data {
  text-align: right; 
  font-size: 1.2rem;
  color: #333; 
  font-weight: bold;  
}
#div-data{
  text-align: end;
  margin-right: 30px;
  margin-top: -20px;
}
#data{
  font-weight:bolder;
}
/*--------------botoes*/
.button-close{
  text-align: end;
}
/*botaõ para sair...*/
#consultas-button-close,#paciente-button-close,#historico-button-close,#atendimento-button-close, #medicos-button-close, #suas-consultas-button-close {
  background-color: #333 !important;
  color: #fff;
  padding: 0px 13px 0px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  align-items: end;
}

/*
.background{
opacity: 0.7;
border-radius: 6px;
border: rgb(0,100,150) 2px solid ;
width: 105vh;
height: 60vh;
padding: 15px;
margin: 0%;
display: flex;
}
*/