.div-footer{
    position: fixed; /* Posição fixa na tela */
    bottom: 0; /* Posiciona na parte inferior da tela */
    width: 100%; /* Largura total da tela */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo */
}