*{
    color:black;
    font-size: 1.2rem;
    font-family: sans-serif;
  }
  body{
    background-color: azure;
    /*background:url('https://plus.unsplash.com/premium_photo-1682141162813-16fc10b5ba2f?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;*/
    background-size:cover ;
  }
  /*__________________header*/
  header {
    align-items: end !important;
    display: block;
    opacity: 0.8;
    color: white; 
  }
  /* Estilos para os links da navbar */
  .navbar-nav > li > a {
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    transition: background-color 1s;
  }
  
  /* Estilos para os links da navbar quando o mouse está sobre eles */
  .navbar-nav > li > a:hover {
    background-color: rgb(0, 100, 150);
    color: white;
  }
  .navbar-nav{
    display: flex;
  }
  li {
    display: flex;
  }

.flex-container {
  display: block;
  flex-direction: column; /* Coluna vertical */
  align-items: flex-start; /* Alinha os itens à esquerda */
}

.flex-item {
  border: 2px solid #333;
  margin-bottom: 10px;
  padding: 10px;
}
.editar{
  border: 2px solid #333;
  text-decoration: none;
  background-color: yellow;
  border-radius: 6px;
  color:black
}

.editar:hover{
  transition: 1s;
  font-size: 1.3rem;
  text-decoration: none;
  background-color: black;
  border-radius: 6px;
  color:yellow
}

.menu{
  border-radius: 6px;
  width: 300px;
  height: 110px;
  margin: 10px;
  display: inline-block;
  border: 2px solid #333;
  background-color: bisque;
}
.menu > a{
  opacity: 0.8;
  display: block;
  background-color: orange;
  color: black;
  text-decoration: none;
}

.menu > a:hover{
  background-color: yellow;
  font-size: 1.3rem;
  color: green;
  text-decoration: none;
}
