body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.sumario-portal-do-paciente a {
    color: #333;
    text-decoration: none;
}

.sumario-portal-do-paciente a:hover {
    text-decoration: underline;
}

.table {
    margin-top: 20px;
}


#pacientes{
    display: none !important;
}
#pacientes:target{
    display: inline !important;
}
#lista_de_medicos{
    display: none !important;
}
#lista_de_medicos:target{
    display: inline-block !important;
}
#alterar_medico{
    display: none !important;
}

#alterar_medico:target{
    display: inline-block !important;
}
#alterar_paciente{
    display: none !important;
}
#alterar_paciente:target{
    display: inline-block !important;
}
a:hover{
    background-color: #333;
    color: white !important;
}