{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style_esqueceu_senha.css' %}">
    
    <!--<link rel="stylesheet" href="{% static 'css/style_login.css' %}">-->
    
</head>
<body>
    
    <main id="main-esqueceu-senha">
        <a href="{% url 'home' %}">Home</a>
        <h1>Recuperar senha</h1>
    </main>
    
        
    <div id="div-form-esqueceu-senha">
        <form action="{% url 'login' %}" id="form-esqueceu-senha">
            <div div-input-esqueceu-senha>
                <label class="label-esqueceu-senha" for="cpf-recuperar-senha">CPF:</label>
            <input id="cpf-recuperar-senha" type="text" placeholder="CPF">
            </div>
            

            <br>

            <div class="div-input-esqueceu-senha">
                <label class="label-esqueceu-senha" for="numero-recuperar-senha">Número:</label>
            <input id="cpf-recuperar-senha" type="number" placeholder="Número">
            </div>

            
        </form>
    
    </div>
    <p id="p-esqueceu-senha">Enviaremos um SMS com sua nova senha, você pode alterar mais tarde!</p>    
        
</body>
</html>