
{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastrar Médicos{% endblock %}

  {% block content %}
  <link rel="stylesheet" href="{% static 'css/style_cadastrar_medicos.css' %}">

<body>
  
<h1>cadastrar médicos</h1>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/portal_do_paciente_icon.png' %}" alt="home" width="30" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'portal_do_paciente' id=paciente.id %}">voltar</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</header>


    <div class="form-container">
      <h2>Cadastro de Médico</h2>
      <form method="post" >
        {% csrf_token %}
        <div>
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome_medico" required>

          <label for="email">Email:</label>
          <input type="text" id="emal" name="email" required>

          <label for="data_de_nascimento">Data de nascimento</label>
          <input type="date" id="data_de_nascimento" name="data_de_nascimento" required>

          <label for="cpf">CPF</label>
          <input type="text" id="cpf" name="cpf" required>

          <label for="crm">CRM</label>
          <input type="number" id="crm" name="crm" required>

          <label for="especialidade">Especialidade:</label>
          <input type="text" id="especialidade" name="especialidade" required>

          <label for="password">Senha</label>
          <input type="password" id="password" name="password" required>
      
        <button type="submit">Cadastrar</button>
      </form>
    
  </div>
{% endblock %}