{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastrar Médicos{% endblock %}

  {% block content %}
  <link rel="stylesheet" href="{% static 'css/style_cadastrar_medicos.css' %}">
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/portal_do_paciente_icon.png' %}" alt="home" width="30" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'portal_do_paciente' id=paciente.id %}">voltar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gestao_de_pacientes' id=paciente.id %}">Cadastre um novo paciente</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</header>

    <div class="form-container">
      
      <!-- Container do Formulário -->
    <div class="container mt-5">
      <h1>Cadastre um médico</h1>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
</form>
  </div>
  
  <script>
    function formatarCPF(cpf) {
// Remove caracteres não numéricos
cpf = cpf.replace(/[^0-9]/g, '');

// Verifica se o CPF tem 11 dígitos
if (cpf.length !== 11) {
return cpf; // Retorna o CPF sem formatação se não tiver 11 dígitos
}

// Formata o CPF: xxx.xxx.xxx-xx
return cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
}

// Exemplo de uso:
const inputCPF =document.querySelector("#cpf");

inputCPF.addEventListener('input', function() {
this.value = formatarCPF(this.value);
});
  </script>
{% endblock %}