{% extends 'base.html' %}

{% load static %}

{% block title %}Gerenciar pacientes{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style_gerenciar_pacientes.css' %}">

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/portal_do_paciente_icon.png' %}" alt="home" width="30" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'portal_do_paciente' id=paciente.id%}">Voltar </a>
            <a class="nav-link" href="{% url 'cadastro_de_medicos' id=paciente.id%}">Cadastre um novo medico </a>
            {% comment %}
            <a class="nav-link" href=#>Guia rápido</a>
            {% endcomment %}
            
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</header>

<h1 style="text-align: center;">Gerenciamento</h1>
<br>


<div class="menu">
  <a href="#dados">Dados</a>
  
  <a href="#todas_as_consultas">Todas as consultas</a>
  
  <a href="#cadastro">Cadastro</a>
  
</div>

<h2 id="dados" style="text-align: center;">Dados dos pacientes</h2>
<br>
<div class="container-fluid">
  <div class="flex-container">
    {% for paciente_ in pacientes %}
      <div class="flex-item">
        {% if not paciente_.is_superuser %}
          <h3>Paciente ID: {{ paciente_.id }}</h3>
          {% if paciente_.nome %}
            <p>Nome: {{ paciente_.nome }}</p>
          {% endif %}
          
          <p>Data de nascimento: {{ paciente_.data_de_nascimento | date:'d/m/Y' }}</p>
          <p>CPF: {{ paciente_.cpf }}</p>
          <p>Email: {{ paciente_.email }}</p>
          {% if paciente_.is_staff %}
            <p style="color:red">Funcionário (a)</p>
          {% endif %}
          <a class="editar" href="{% url 'editar_paciente' paciente_.id %}">Editar dados</a>
          <a class="editar" href="{% url 'remover_paciente' paciente_.id %}">Remover</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <br>
  <h2 id="todas_as_consultas"style="text-align: center;">Todas as consultas marcadas</h2>
  <br>
  <br>
  <div class="flex-container">
    {% if agendamentos %}
    {% for agendamento in agendamentos %}
      <div class="flex-item">
        <strong><p style="color: brown;">Médico(a): {{ agendamento.medico.nome }}</p></strong>
        
        {% if agendamento.paciente.nome %}
        <strong><p style="color: brown;">Paciente: {{ agendamento.paciente.nome }}</p></strong>
        
        {% endif %}
        <p>Email do paciente: {{ agendamento.paciente.email }}</p>
        <p>Especialidade do médico: {{ agendamento.medico.especialidade }}</p>  <!-- Assumindo que medico tem especialidade -->
        <p>Data: {{ agendamento.data | date:'d/m/Y' }}</p>
        <p>Hora: {{ agendamento.hora|date:"H:i" }}</p>
      </div>
    {% endfor %}
    {% else %}
    <h3 style="text-align: center;color:red;">Sem consultas</h3>
    {% endif %}
  </div>
</div>

<div class="container mt-5" >
  <div id="div-title-cadatro">
      <h2 id="cadastro" style="text-align: center;">Cadastre um novo paciente</h2>
  </div>
  
  <div class="row justify-content-center">  <!-- Centraliza o formulário -->
      <div class="col-md-6" id="div-form-cadastro">  <!-- Define a largura máxima do formulário em telas médias -->
          <form method="POST" class="form-group">
              {% csrf_token %}
              {% for field in form %}
                  <div class="form-group">
                      <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                      {{ field }}
                      {% if field.errors %}
                          <ul class="errors">
                              {% for error in field.errors %}
                                  <li class="text-danger">{{ error }}</li>
                              {% endfor %}
                          </ul>
                      {% endif %}
                  </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary">Cadastrar</button>
          </form>
          <br>
          <br>

          <br>
                      </div>
  </div>
  
  
</div>
<script>
  console.log('yesye')

function formatarCPF(cpf) {
    // Remove caracteres não numéricos
    cpf = cpf.replace(/[^0-9]/g, '');
    
    // Verifica se o CPF tem 11 dígitos
    if (cpf.length !== 11) {
    return cpf; // Retorna o CPF sem formatação se não tiver 11 dígitos
    }
    
    // Formata o CPF: xxx.xxx.xxx-xx
    return cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
    }
    
    // Exemplo de uso:
    const inputCPF =document.querySelector("#id_cpf");
    
    inputCPF.addEventListener('input', function() {
    this.value = formatarCPF(this.value);
    });
</script>


{% endblock %}