{% extends 'base.html' %}

{% load static %}

{% block title %}Portal do paciente{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style_portal_do_paciente.css' %}">


<header class="portal_do_paciente p-3">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><strong>Portal do Paciente</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          {% if admin %}
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/admin" target="blank">Admin</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<div id="div-ola-name" style="text-indent: 60px;">
  <strong><p>Olá, {{ name }}</p></strong>
</div>

<div class="titulo_portal_do_paciente">
  <h1>Portal do paciente</h1>
</div>

<div id="div-data">
  <time id="data" datetime="{{ data|date:'Y-m-d' }}">{{ data|date:'d/m/Y' }}</time>
</div>

<!--<time class="hora_data" datetime="{{ data_hora|date:'Y-m-dTH:i:s' }}">{{ data_hora|date:'d/m/Y H:i' }}</time>-->

<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <nav class="nav-menu">
          <ol>
            <li><a class="nav-menu-link" href="#suas_consultas">Suas consultas</a></li>
            <li><a class="nav-menu-link" href="#lista_de_medicos">Médicos disponíveis</a></li>
            <li><a class="nav-menu-link" href="#paciente">Meus dados</a></li>
            <li><a class="nav-menu-link" href="{% url 'agendar_consulta' id=paciente.id %}">Agendar nova consulta</a></li>
            <li><a class="nav-menu-link" href="#teste">teste</a></li>
            
            {% if admin %}
            <li><a class="nav-menu-link" href="{% url 'cadastro_de_medicos' id=paciente.id %}">Adicione um médico</a></li>
            {% endif %}
          </ol>
        </nav>
      </div>
  
      
      <div class="container">
        <div class="background">
          
        </div>
        
        <div id="lista_de_medicos">
          <div class="button-close">
            <a href="#"><button id="medicos-button-close">x</button></a>
          </div>
          <h3>Médicos diponíveis </h3>
        
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Especialidade</th>
                <th>CRM</th>
              </tr>
            </thead>
            <tbody>
              {% for medico in medicos %}
              <tr>
                <td>{{ medico.nome }}</td>
                <td>{{ medico.especialidade }}</td>
                <td>{{ medico.crm }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
  
        <div id="paciente">
          <div class="button-close">
            <a href="#"><button id="paciente-button-close">x</button></a>
          </div>
          <h3>Seus dados</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Data de nascimento</th>
                {% comment %}
                <th>CPF</th>
                {% endcomment %}
                
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ paciente.nome|title }}</td>               
                <td>{{ paciente.data_de_nascimento | date:'d/m/Y' }}</td>
                {% comment %}
                <td>{{ paciente.cpf }}</td>
                {% endcomment %}
                <td>{{ paciente.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        
        <div id="suas_consultas">
          <div class="button-close">
            <a href="#"><button id="suas-consultas-button-close">x</button></a>
          </div>
          <h3>Consultas marcadas</h3>
          
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome do médico(a)</th>
                <th>Especialidade</th>
                <th>Data da consulta</th>
                <th>Horário da consulta</th>
                
              </tr>
            </thead>
            <tbody>
              {% for agendamento in agendamentos %}
                {% if agendamento.paciente.id == paciente.id %}
                  <tr>
                    <td>{{ agendamento.medico.nome }}</td>
                    <td>{{ agendamento.medico.especialidade }}</td>
                    <td>{{ agendamento.data | date:'d/m/Y'}}</td>
                    <td>{{ agendamento.hora|date:"H:i" }}</td> 
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <br>
          <br>
  
          <div id="historico">
            <h3>Baixe aqui seu histórico de consultas</h3>
            <br>
            <a href="{% static 'historico/sage.pdf' %}" download="historico">Histórico</a>
          </div>
          
        </div>
        <div id="teste">
          <h1>teste</h1>
        </div>
        
    </div>
  </div>
  
</div>


{% endblock %}