

*{
  font-size: 1.3rem;
}
body{
  background:url('https://images.unsplash.com/photo-1516574187841-cb9cc2ca948b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
  color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  color: black;
}
a:hover{
    color: blue !important;

}
button{
    border-radius: 6px !important;
    margin: 2px;
}
input{
    border-radius: 6px !important;
}

/*header*/
ul,div.container-fluid{
  background-color: rgb(25, 50, 0) !important;
  opacity: 0.8;
  color: white !important;
  margin: 0%;
}
/*links*/

a.nav-link{
  color: white !important;
  
  border: 2px solid black;
  border-radius: 6px ;
  
}

a:hover{
  transition: 1s;
  background-color: rgb(0, 100, 0);
  border-radius: 6px;

}


